.dropdown-toggle::after {
    display:none;
}

.dropdown-toggle{
    background-color: white;
    color:black;
    font-family: 'Roboto';
    border-radius: 0px;
    
}

.dropdown-toggle:active{
    background-color: salmon;
    color:black;
}

.dropdown-toggle:hover{
    background-color: salmon;
    color:black;
}

.dropdown-toggle:focus{
    background-color: salmon;
    color:black;
}

.nav-link{
    margin-left:20px;
    margin-right:20px;
    }

.item:hover{
    background-color: salmon;
}

.nav{
    display: flex;
    justify-content: space-around !important;
}


