.ProductoModal{
    display:flex;
    margin:auto;
    border-color:red !important;
    border-radius:10px;
    max-width:420px;
    height:150px;
    background-color: white;
    flex-wrap:nowrap;
    justify-content: space-around;
    margin:auto;
    color:black;
    padding:20px;
}

.info{
    display: flex;
    flex-direction:column;
    color:black !important;
    
}

.imagen{
    height:100px;
    width:100px;
}

.borrar{
    display: flex;
    width:60px;
    flex-direction: column;
}

.icon2{
    height:20px;
    width:20px;
}

.boton3{
    background-color:salmon;
    border-color:salmon;
    border-radius:3px !important;
}

.botonComprar{
    width:100px
}